.DS_Store
layer.zip
__pycache__
node_modules
packaged_template.yml

DeveloperGuides/LambdaLayers/python/python
Building-with/**/target
Building-with/**/build
Building-with/**/.gradle
Building-with/**/bootstrap
Building-with/**/function.zip
SnapStart/**/target
