.DS_Store
layer.zip
DeveloperGuides/LambdaLayers/python/python
/**/packaged_template.yml
Building-with-Java/**/target
Building-with-Java/**/build
Building-with-Java/**/.gradle
Building-with-Go/**/bootstrap
Building-with-Go/**/function.zip
Building-with-Rust/**/target
