.DS_Store
layer.zip
__pycache__
node_modules
packaged_template.yml

DeveloperGuides/LambdaLayers/python/python
Building-with-Java/**/target
Building-with-Java/**/build
Building-with-Java/**/.gradle
Building-with-Go/**/bootstrap
Building-with-Go/**/function.zip
Building-with-Rust/**/target
